.overlay {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: rgb(0,0,0);background-color: rgba(0,0,0, 0.9);overflow-x: hidden;transition: 0.5s;}
.overlay-content {position: relative;top: 15%;width: 100%;text-align: center;margin-top: 10px;}
.overlay a {padding: 8px;text-decoration: none;font-size: 36px;color: #818181;display: block;transition: 0.5s;}
#span {padding: 8px;text-decoration: none;font-size: 20px;color: #818181;display: block;transition: 0.5s;}
.overlay a:hover, .overlay a:focus {color: #f1f1f1;}
.overlay .closebtn {position: absolute;top: 20px;right: 45px;font-size: 60px;}

.card{width: 84px;}
.alfa{width: 350px;}

.contend{display: block;width:80%;max-width: 350px; color: white;margin: auto;}


#btn-comprar{border: none;width: 150px;height:50px;font-size:20px;background-color: white;color: black;}
#nome{font-size:20px;}
#valor1{font-size:20px;}
#valor2{font-size:20px;}

@media  screen and (max-width: 600px){
  .overlay a {font-size: 20px}
  .overlay .closebtn {font-size: 40px;top: 15px;right: 35px;}
  .header{display: block;justify-content: center;text-align: center;}
  .Btn-best{display: none;}
  ul > a {text-align: center;}
  .alfa{width:252px;}
  .card{width: 60px;}
  #btn-comprar{margin-top: 0px;}
}
